# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.log

# Virtual Environment
venv/
.venv/
.pytest_cache/
.env

# Docker
Dockerfile
docker-compose.override.yml
.dockerignore

# System Files
.DS_Store
Thumbs.db


static/scene_*.html
static/scene_*.js
